
/*********************Global Styling*********************/

* {
    max-width: 1300px;
    margin: auto;
    padding: 3% 0;
    box-sizing: inherit;
}

body{
    font-size: 16px;
     background: rgba(0, 0, 0, 0.990);
     font-size: 1.6rem;
     font-family: "Montserrat", Arial, sans-serif;
     font-weight: normal;
}
a {
    text-decoration: none;
    color: #283dfe;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
nav {
    font-size: 100%;
}

a:hover {
    color: rgb(241, 2, 2);
    cursor: pointer;
}
/*********************Header Styling*********************/
.nav-header{
    background-color: black;
    color: rgb(0, 0, 166);
}
.nav-header .navbar-web-container {
margin: 0 auto;
position: relative;
z-index: 1049;
}
.nav-header .navbar-web-container .util-navbar-primary{
    /*
    align-items: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 4px 8px rgba(0,0,0,.04);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 0 24px;
    position: relative;
    z-index: 1; */
    
        width: 100%;
        height: auto; 
        background-color: rgb(0, 0, 0);
       padding: 20px; 
       box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 
    0 2px 2px rgb(0 0 0 / 6%),
     0 0 2px rgb(0 0 0 / 7%);
}
img {
    max-width: 100%;
}
#cs-util-navbar-secondary[_ngcontent-jsa-c1]{
    font-family: Barlow Semi Condensed,sans-serif;
    font-weight: 500
}

/*****LOGO*********/
.nav-header .navbar-web-container .util-navbar-primary .head-logo-left {
    display: flex;
    padding: 16px 16px 16px 0;
    align-items:center;
}

.nav-header .navbar-web-container .util-navbar-primary .head-logo-left a{ 
    text-decoration: none;
}

.nav-header .navbar-web-container .util-navbar-primary .head-logo-left a img{
    max-height: 40px;
    max-width: 125px;
    }
/*********Links********/
.nav-header .navbar-web-container .util-navbar-primary .head-links-right{ 
    display: flex;
    height: 100%;
}

